/* 导航栏nav */
.nav{
    width: 100%;
    height: 40px;
    background: #333;
}
.nav > .container{
    width: 1226px;
    height: 40px;
    margin: 0 auto;
    color: #b0b0b0;
    font-size: 12px;
    line-height: 40px;
}
.nav > .container a:hover{
    color: #fff;
}
.nav > .container > .left-box{
    width: 800px;
    float: left;
}
.nav > .container > .left-box a{
    margin-right: 15px;
    float: left;
}
.nav > .container > .right-box{
    /* width: 400px; */
    float: right;
}
.nav > .container > .right-box a{
    margin-right: 15px;
    float: left;
}
.nav > .container > .right-box .cart-btn{
    height: 40px;
    padding: 0 20px;
    margin-right: 0;
    background: #424242;
}
.nav > .container > .right-box .cart-btn:hover{
    color: #ff6700;
    background: #fff;
}

/* 头部header */
.header{
    width: 100%;
    height: 100px;
    position: relative;
    /* background: pink; */
}
.header > .container{
    width: 1226px;
    height: 100px;
    box-sizing: border-box;
    background: #fff;
    /* border: 1px solid #000; */
    margin: 0 auto;
}
.header > .container > .logo{
    width: 55px;
    height: 55px;
    float: left;
    position: relative;
    margin-top: 22px;
    background-color: #ff6700;
    overflow: hidden;
}
.header > .container > .logo:after{
    content:'';
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0px;
    opacity: 1;
    transition: left 0.2s;
    width: 55px;
    height: 55px;
    background: url(../images/mi-logo.png) no-repeat 50% 50% ;
}
.header > .container > .logo:before{
    content:'';
    display: inline-block;
    position: absolute;
    top: 0;
    left: -62px;
    transition: left 0.2s;
    width: 55px;
    height: 55px;
    background: url(../images/mi-home.png) no-repeat 50% 50% ;
}
.header > .container > .logo:hover::after{
    left: 62px;
    /* opacity: 0; */
}
.header > .container > .logo:hover::before{
    left: 0px;
    /* opacity: 1; */
}
.header > .container > .nav-list{
    width: 640px;
    height: 100px;
    float: left;
    margin-left: 172px;
    /* background: rgb(185, 228, 185); */
    /* display: flex; */
    line-height: 100px;
}
.header .nav-item{
    float: left;
    padding-right: 20px;
    color: #333;
    transition: color 0.2s;
}
.header .nav-item:hover{
    color: #ff6700;
}
.header .nav-item .pro-box{
    width: 100%;
    height: 0px;
    z-index: 14;
    background: #fff;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-width: 1px 0 0 0;
    color: #000;
    position: absolute;
    top: 100px;
    left: 0;
    overflow: hidden;
    box-shadow: 1px 5px 20px rgba(0,0,0,0);
    /* transition: height .4s,box-shadow .4s; */
}
/* .header .nav-item:hover .pro-box{
    box-shadow: 1px 5px 20px rgba(0,0,0,0.2);
    height: 240px;
} */
.header .nav-item .pro-box .container{
    width: 1226px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-top: 20px;
}
.header .nav-item .pro-box .container .pro{
    width: 200px;
    height: 200px;
    /* border: 1px solid #000; */
    font-size: 12px;
    line-height: 18px;
    position: relative;
}
.header .nav-item .pro-box .container .pro::after{
    content: "";
    width: 2px;
    height: 100px;
    position: absolute;
    top: 20px;
    right: 0;
    background: rgb(223, 222, 222);
}
.header .nav-item .pro-box .container .pro .pro-img{
    /* width: 100px; */
    height: 100px;
    margin: 20px auto;
    /* background: rgb(181, 216, 181); */
}
.header .search-box{
    width: 296px;
    height: 50px;
    margin-top: 25px;
    float: right;
    /* border: 1px solid #ccc; */
}
.header .search-box .search{
    width: 246px;
    height: 50px;
    float: left;
    background: #fff;
    border: 1px solid #ccc;
    box-sizing: border-box;
    color: #ccc;
    line-height: 50px;
    outline: none;
    padding: 5px;
    font-size: 16px;
}
.header .search-box .search-btn{
    width: 50px;
    height: 50px;
    float: right;
    background-color: #fff;
    border: 1px solid #ccc;
    border-width: 1px 1px 1px 0;
    border-color: #ccc;
    box-sizing: border-box;
    text-align: center;
    line-height: 50px;
    color: #333;
    cursor: pointer;
    transition: background-color 0.4s, color .4s, border-color .4s;
}
.header .search-box .search-btn:hover{
    color: #fff;
    background-color: #ff6700;
    border-color: #ff6700;
}

/* 广告banner */
.banner{
    width: 1226px;
    height: 670px;
    /* background: skyblue; */
    /* border: 1px solid #000; */
    /* box-sizing: border-box; */
    margin: 0 auto;
}
.banner > .swiper-container{
    width: 1226px;
    height: 460px;
    position: relative;
    /* overflow: inherit; */
    /* background: yellow; */
}
.banner > .swiper-container > .swiper-pagination{
    transform: translateX(530px);
}
.banner > .swiper-container > .swiper-button-prev{
    left: 240px;
}
.banner > .swiper-container .swiper-slide img{
    width: 1226px;
    height: 460px;
}
.banner > .swiper-container > .sliderList{
    width: 234px;
    height: 460px;
    background: rgba(105,101,101,.6);
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
}
.banner .swiper-container .categoryList{
    width: 100%;
    height: 420px;
    padding: 20px 0;
}
.banner .swiper-container .categoryList > li{
    width: 204px;
    height: 42px;
    padding-left: 30px;
    color: #fff;
    line-height: 42px;
    cursor: pointer;
}
.banner .swiper-container .categoryList li .pro-card{
    width: 992px;
    height: 460px;
    background: #ffffff;
    position: absolute;
    left: 234px;
    top: 0;
    box-shadow: 1px 5px 20px rgba(0,0,0,0.2);
    display: flex;
    flex-wrap: wrap;
    display: none;
}
.banner .swiper-container .categoryList li .pro-card li{
    width: 25%;
    height: 76px;
    color: #888;
    font-size: 14px;
    line-height: 76px;
}
.banner .swiper-container .categoryList li .pro-card li a{
    display: flex;
}
.banner .swiper-container .categoryList li .pro-card li img{
    width: 40px;
    height: 40px;
    margin-left: 40px;
    margin-top: 18px;
    display: inline-block;
}
.banner .swiper-container .categoryList > li .pro-card li span{
    margin-left: 8px;
}
.banner .swiper-container .categoryList > li:hover{
    background: rgba(255, 103, 0, 1);
}
.banner .swiper-container .categoryList > li:hover .pro-card{
    display: flex;
}
.banner .swiper-container .categoryList > li:after{
    content:'>';
    display: inline-block;
    float: right;
    margin-right: 20px;
}
.banner > .btHub{
    width: 1226px;
    height: 170px;
    margin-top: 14px;
    /* background: yellowgreen; */
}
.banner > .btHub > .channelList{
    width: 234px;
    height: 170px;
    background: #5f5750;
    color: #fff;
    float: left;
}
.banner > .btHub > .channelList ul{
    width: 100%;
    height: 100%;
    margin-top: 1px;
}
.banner > .btHub > .channelList li{
    width: 76px;
    height: 82px;
    text-align: center;
    /* border: 1px solid rgb(24, 20, 20); */
    box-sizing: border-box;
    padding: 14px 0;
    margin: 1px 1px;
    float: left;
    opacity: 0.8;
    transition: opacity 0.2s;
    position: relative;
    cursor: pointer;
}
.banner > .btHub > .channelList li:hover{
    opacity: 1;
}
.banner > .btHub > .channelList li::after{
    content:"";
    border: 1px solid #FFF;
    border-width: 0 1px 1px 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.2;
}
.banner > .btHub > .channelList span{
    font-size: 24px;
}
.banner > .btHub > .channelList p{
    font-size: 12px;
    margin-top: 2px;
}
.banner > .btHub > .mainProList{
    width: 978px;
    height: 170px;
    float: right;
    /* border: 1px solid #000; */
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}
.banner > .btHub > .mainProList > a{
    width: 316px;
    height: 170px;
    box-shadow: 1px 5px 20px rgba(0,0,0,0);
    transition: box-shadow .4s;
}
.banner > .btHub > .mainProList > a:hover{
    box-shadow: 1px 10px 20px rgba(0,0,0,0.2);
}
.banner > .btHub > .mainProList img{
    width: 100%;
    height: 100%;
}
/* 主体main */
.main{
    width: 100%;
    background: #f5f5f5;
}
.main > .container{
    width: 1226px;
    margin: 0 auto;
}

/* 小米闪购 */
.main > .container > .flash-sale-box{
    width: 1226px;
    height: 398px;
    margin: 0 auto;
    /* background: #fff; */
}
.main > .container > .flash-sale-box >.box-top{
    height: 58px;
    /* border: 1px solid #000; */
    font-size: 22px;
    font-weight: 300;
    line-height: 58px;
    /* border: 1px solid #000; */
    /* box-sizing: border-box; */
}
.main > .container > .flash-sale-box >.box-bottom{
    height: 340px;
    /* border: 1px solid #000; */
    /* box-sizing: border-box; */
}
.main > .container > .flash-sale-box >.box-bottom > .counter{
    width: 234px;
    height: 340px;
    background: #f1eded;
    border: 1px solid #e53935;
    box-sizing: border-box;
    border-width: 1px 0 0 0;
    float: left;
}
.main > .container > .flash-sale-box >.box-bottom > .counter .title{
    width: 100%;
    height: 40px;
    color: #ef3a3b;
    font-size: 24px;
    line-height: 24px;
    text-align: center;
    margin-top: 50px;
}
.main > .container > .flash-sale-box >.box-bottom > .counter .title span{
    font-size: 20px;
    line-height: 24px;
    height: 24px;
}
.main > .container > .flash-sale-box >.box-bottom > .counter .iconfont{
    display: block;
    font-size: 80px;
    color: #ef3a3b;
    margin: 10px auto;
    text-align: center;
}
.main > .container > .flash-sale-box >.box-bottom > .counter .comment{
    color: #333;
    text-align: center;
    margin-top: 20px;
}
.main > .container > .flash-sale-box >.box-bottom > .counter .c-box{
    width: 152px;
    height: 46px;
    /* background: #ccc; */
    margin: 20px auto;
    font-size: 24px;
    line-height: 46px;
    font-weight: 300;
}
.main > .container > .flash-sale-box >.box-bottom > .counter .c-box .t-label{
    display: inline-block;
    float: left;
    width: 40px;
    text-align: center;
    background: #333;
    color: #ccc;
}
.main > .container > .flash-sale-box >.box-bottom > .counter .c-box .signal{
    display: inline-block;
    float: left;
    text-align: center;
    /* background: blue; */
    width: 16px;
}
.main > .container > .flash-sale-box >.box-bottom > .swiper{
    width: 992px;
    height: 340px;
    /* background: rgb(178, 178, 231); */
    float: left;
    position: relative;
}
.swiper-pro-box{
    width: 234px;
    height: 340px;
    background: #fff;
    border: 1px solid #e53935;
    box-sizing: border-box;
    border-width: 1px 0 0 0;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: 1px 5px 10px rgba(0,0,0,0);
    transition: box-shadow .4s;
}
.swiper-pro-box:hover{
    transform: translateY(-2px);
    box-shadow: 1px 5px 30px rgba(0,0,0,0.2);
}

.swiper-pro-box img{
    width: 160px;
    height: 160px;
    margin: 30px auto 0;
}
.swiper-pro-box .name{
    font-size: 14px;
    text-align: center;
    margin-top: 30px;
}
.swiper-pro-box .comment{
    font-size: 12px;
    text-align: center;
    color: #ccc;
    margin-top: 10px;
}
.swiper-pro-box .price-box{
    width: 100px;
    margin: 20px auto;
    font-size: 12px;
}
.swiper-pro-box .price-box .price-current{
    color: #fa6c14;
}
.swiper-pro-box .price-box .price-del{
    color: #ccc;
}

.swiper-pro-box:nth-of-type(1){
    left: 11px;
    border-color: #2196f3;
}
.swiper-pro-box:nth-of-type(2){
    left: 256px;
    border-color: #00c0a5;
}
.main > .container > .flash-sale-box >.box-bottom > .swiper > .swiper-pro-box:nth-of-type(3){
    left: 501px;
    border-color: #e53935;
}
.main > .container > .flash-sale-box >.box-bottom > .swiper > .swiper-pro-box:nth-of-type(4){
    left: 746px;
    border-color: #2196f3;
}

/* 主页banner */
.main .main-banner{
    width: 100%;
    height: 120px;
    margin: 22px 0;
    background: rgb(220, 221, 159);
    /* overflow: hidden; */
}
.main-banner > a > img{
    width: 1226px;
    height: 120px;
    margin: auto;
}

/* 拼贴商品main-brick-box */
.main > .container > .main-brick-box{
    width: 100%;
    height: 686px;
    /* background: rgb(172, 161, 212); */
    /* border: 1px solid #000; */
}
.main > .container > .main-brick-box > .box-top{
    height: 58px;
    font-size: 22px;
    font-weight: 300;
    line-height: 56px;
    box-sizing: border-box;
}
.main > .container > .main-brick-box > .box-top > .more-btn{
    font-size: 16px;
    width: 90px;
    float: right;
    cursor: pointer;
    color: #424242;
    transition: color 0.4s;
}
.main > .container > .main-brick-box > .box-top > .more-btn:hover{
    color: #ef3a3b;
}
.main > .container > .main-brick-box > .box-top > .title{
    width: 200px;
    float: left;
}
.main > .container > .main-brick-box > .box-bottom{
    height: 628px;
}
.main > .container > .main-brick-box > .box-bottom > .brick-slider{
    float: left;
    width: 234px;
    height: 628px;
    overflow: hidden;
}
.main > .container > .main-brick-box > .box-bottom > .brick-slider img{
    height: 628px;
}
.main > .container > .main-brick-box > .box-bottom > .brick8{
    position: relative;
    width: 992px;
    height: 628px;
    float: right;
    display: flex;
}
.brick-pro-box{
    width: 234px;
    height: 300px;
    background: #fff;
    box-shadow: 1px 5px 10px rgba(0,0,0,0);
    transition: box-shadow .4s, top .4s;
    border-width: 0px;
}
.brick-pro-box img{
    width: 160px;
    height: 160px;
    margin: 20px auto 0;
}
.brick-pro-box .name{
    font-size: 14px;
    text-align: center;
    margin-top: 20px;
}
.brick-pro-box .comment{
    font-size: 12px;
    text-align: center;
    color: #ccc;
    margin-top: 10px;
}
.brick-pro-box .price-box{
    width: 100px;
    margin: 5px auto;
    font-size: 12px;
}
.brick-pro-box .price-box .price-current{
    color: #fa6c14;
}
.brick-pro-box .price-box .price-del{
    color: #ccc;
}

.brick-pro-box:nth-of-type(2){
    left: 11px;
}
.brick-pro-box:nth-of-type(2){
    left: 256px;
}
.brick-pro-box:nth-of-type(3){
    left: 501px;
}
.brick-pro-box:nth-of-type(4){
    left: 746px;
}
.brick-pro-box:nth-of-type(5){
    left: 11px;
    top: 328px;
}
.brick-pro-box:nth-of-type(6){
    left: 256px;
    top: 328px;
}
.brick-pro-box:nth-of-type(7){
    left: 501px;
    top: 328px;
}
.brick-pro-box:nth-of-type(8){
    left: 746px;
    top: 328px;
}

/* 主页banner2 */
.main > .container > .main-banner2{
    width: 100%;
    height: 120px;
    margin: 22px 0;
    background: rgb(220, 221, 159);
}

/* 拼贴商品main-brick-box2 */
.main > .container > .main-brick-box2{
    width: 100%;
    height: 686px;
}
.main > .container > .main-brick-box2 > .box-top{
    height: 58px;
    line-height: 30px;
}
.main > .container > .main-brick-box2 > .box-top > .title{
    width: 200px;
    font-size: 22px;
    float: left;
}
.main > .container > .main-brick-box2 > .box-top > .page-box li{
    margin: 0 10px;
}
.main > .container > .main-brick-box2 > .box-top > .page-box{
    width: 160px;
    float: right;
    font-size: 16px;
}
.main > .container > .main-brick-box2 > .box-top > .page-box li{
    margin: 12px 10px;
    cursor: pointer;
    border: 1px solid #ef3a3b;
    border-width: 0 0 0 0;
    transition: border-width 0.2s, color .2s;
}
.main > .container > .main-brick-box2 > .box-top > .page-box li:hover{
    color: #ef3a3b;
    border-width: 0 0 2px 0;
}
.main > .container > .main-brick-box2 > .box-top > .page-box > ul{
    display: flex;
    flex: 1;
}
.main > .container > .main-brick-box2 > .box-bottom > .brick-slider{
    float: left;
    width: 234px;
    height: 628px;
}
.main > .container > .main-brick-box2 > .box-bottom > .brick-slider > .brick{
    width: 100%;
    height: 300px;
    box-shadow: 1px 5px 10px rgba(0,0,0,0);
    transition: box-shadow .4s;
}
.main > .container > .main-brick-box2 > .box-bottom > .brick-slider > .brick:hover{
    transform: translateY(-2px);
    box-shadow: 1px 5px 30px rgba(0,0,0,0.2);
}
.main > .container > .main-brick-box2 > .box-bottom > .brick-slider > .brick:nth-of-type(2){
    margin-top: 28px;
}
.main > .container > .main-brick-box2 > .box-bottom > .brick-slider > .brick img{
    height: 300px;
}

/* 页脚footer */
.footer{
    width: 100%;
    background: #fff;
    box-sizing: border-box;
}
.footer > .container{
    width: 1226px;
    margin: 0 auto;
}
.footer > .container .footer-links{
    height: 200px;
}
.footer > .container .footer-links .links{
    padding: 40px 0;
    float: left;
    position: relative;
}
.footer > .container .footer-links .links li{
    width: 160px;
    height: 122px;
    float: left;
}
.footer > .container .footer-links .links li dt{
    font-size: 14px;
    margin-bottom: 20px;
}
.footer > .container .footer-links .links li dd{
    font-size: 12px;
    margin: 10px 0;
    color: #888;
}
.footer-content{
    width: 252px;
    float: left;
    margin-top: 50px;
    padding: 0 40px;
    box-sizing: border-box;
    border: 1px solid #CCC;
    border-width: 0 0 0 1px;
    color: #888;
}
.footer-content:after{
    content:"";
    width: 1px;
    height: 100px;
    background: #333;
    position: absolute;
    left: 0;
    top: 20px;
}
.footer-content .phone{
    color: #ff6700;
    font-size: 22px;
    margin-bottom: 5px;
}
.footer-content .time{
    font-size: 12px;
    margin-bottom: 5px;
}
.footer-content .msg-btn{
    font-size: 12px;
    color: #ff6700;
    width: 120px;
    height: 30px;
    border: 1px solid #ff6700;
    text-align: center;
    line-height: 30px;
    margin-bottom: 5px;
}
.footer-content .msg-btn span{
    margin-right: 5px;
}
.footer-content .follow{
    font-size: 12px;
}
.footer-content .follow a{
    display: inline-block;
    cursor: pointer;
}
.footer-content .follow .iconfont:hover{
    color: #ff6700;
}
.footer .container .msg{
    font-size: 12px;
    color: #888;
    white-space: pre-wrap;
}