body{
    background: #f9f9f9;
}

/* 主体main */
.main{
    width: 1230px;
    height: 588px;
    margin: 0 auto;
    position: relative;
}
.main .login-box {
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    width: 854px;
    /* height: 500px; */
    padding: 0 50px 0;
    background: #fff;
    /* border: 1px solid #000; */
}
.main .login-box .logo{
    width: 55px;
    height: 55px;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 22px;
    background-color: #ff6700;
    overflow: hidden;
}
.main .login-box .logo:after{
    content:'';
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0px;
    opacity: 1;
    transition: left 0.2s;
    width: 55px;
    height: 55px;
    background: url(../images/mi-logo.png) no-repeat 50% 50% ;
}
.main .login-box .logo:before{
    content:'';
    display: inline-block;
    position: absolute;
    top: 0;
    left: -62px;
    transition: left 0.2s;
    width: 55px;
    height: 55px;
    background: url(../images/mi-home.png) no-repeat 50% 50% ;
}
.main .login-box .logo:hover::after{
    left: 62px;
    /* opacity: 0; */
}
.main .login-box .logo:hover::before{
    left: 0px;
    /* opacity: 1; */
}

.login-box .login-head{
    /* width: 100%; */
    width: 280px;
    margin: 90px auto 0;
    height: 84px;
    padding: 27px 0 24px;
    font-size: 24px;
    line-height: 84px;
    color: #666;
}
.login-box .login-head .title{
    width: 100%;
    display: inline-block;
    margin: 0 auto;
    cursor: pointer;
    color: #333;
    text-align: center;
    font-size: 30px;
    /* border: 1px solid #000; */
}
.login-box .login-body{
    width: 100%;
    /* height: 380px; */
    /* border: 1px solid #000; */
}
.login-box .login-body input{
    display: block;
    width: 346px;
    height: 48px;
    box-sizing: border-box;
    padding: 13px 16px 13px 14px;
    border: 1px solid #ccc;
    outline: none;
    margin: 0 auto;
    margin-bottom: 14px;
    font-size: 22px;
    line-height: 22px;
}
.login-box .login-body > span{
    display: inline-block;
    margin-left: 254px;
    font-size: 14px;
    color: #ccc;
}
.login-box .login-body .register-btn{
    width: 346px;
    height: 48px;
    box-sizing: border-box;
    padding: 13px 16px 13px 14px;
    background: #f56600;
    border: 1px solid #f56600;
    color: #fff;
    margin: 0 auto;
    margin-bottom: 14px;
    font-size: 14px;
    line-height: 14px;
    text-align: center;
    cursor: pointer;
}
.login-box .login-body .comment{
    font-size: 14px;
    text-align: center;
}
.login-box .login-body .comment span{
    font-weight: 700;
}

.login-box .login-body .login-others{
    margin: 100px auto;
}
.login-box .login-body .login-others fieldset{
    border: 1px solid #ccc;
    border-width: 1px 0 0 0;
    text-align: center;
    font-size: 14px;
    color: #ccc;
}
.login-box .login-body .login-others .links{
    width: 202px;
    margin: 20px auto;
    /* border: 1px solid #000; */
}
.login-box .login-body .login-others .links .iconfont{
    font-size: 30px;
}
.login-box .login-body .login-others .links .icon-QQ{
    color: #32a6d4;
}
.login-box .login-body .login-others .links .icon-weibo1{
    color: #f3604c;
}
.login-box .login-body .login-others .links .icon-zhifubao{
    color: #1aaceb;
}
.login-box .login-body .login-others .links .icon-weixin{
    color: #4db233;
}
.login-box .login-body .login-others a{
    float: left;
    margin: 0 10px;
}

/* 页脚footer */
.footer{
    width: 100%;
}
.footer .container{
    width: 800px;
    margin: 0 auto;
    font-size: 14px;
    color: #333;
}
.footer .container .links-box{
    width: 321px;
    height: 14px;
    margin: 100px auto 0;
}
.footer .container .links-box a,.footer .container .links-box span{
    float: left;
    padding: 0 5px;
}
.footer .container .copyright{
    width: 585px;
    height: 14px;
    margin: 10px auto;
}
.footer .container .copyright img{
    display: inline-block;
    width: 18px;
    height: 18px;
};